<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trabalhando com animações!</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<script src="prefixfree.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- Todo o corpo de pagina vem aqui -->
		
	
	<!-- O seu Html vem aqui! -->
	<div class='place'>
	<h1>O que mais gosto em Fortaleza</h1>
	</div>
	<h2>Passear em Fortaleza! </h2>
	<p>
		Um dos principais centros financeiros da cidade, a avenida Paulista
		também possui diversas opções de entretenimento. Endereço do Museu
		de Arte de São Paulo, <em>MASP</em>, do Teatro Gazeta e muitos outros,
		a região é de fácil acesso graças as diversas linhas de ônibus que
		cruzam a avenida e a linha de metrô que passa por baixo dela.
	</p>
	<p>
		A Avenida Paulista sempre é assunto. O que será que estão falando a
		respeito no <a href='https://twitter.com/#!/search/Avenida Paulista'
		target='_blank'>Twitter</a>?
	</p>
	</div>
	<div class='place'>
	<h2>Os bares da Varjota</h2>
	</div>
	<p>
		Depois de um dia de trabalho, nada melhor do que um bom chopp, um
		petisco e uma conversa em uma mesa de bar. Opções de sobra na região
		das ruas Aspicuelta, Fradique Coutinho e Wisard.
	</p>
	<p>
		Veja quais os melhores bares e restaurantes da região no
		<a href='http://www.tripadvisor.com.br/Attractions-g303293-Activities-c20-t99-Fortaleza_State_of_Ceara.html' target='_blank'>
		Guia da VEJA Fortaleza.
	</a>
	</p>
	<div class='place'>
		<h2>O Parque do Côco</h2>
	</div>
		<p>
		Um dos cartões postais da cidade, o parque dispõe de mais de 1,5 km{^2}
		de área verde, lagos artificiais e pistas de cooper e ciclismo. E se
		isso não fosse o suficiente, o parque costuma ser palco de diversos
		eventos culturais ao longo do ano.
	</p>
	<p>
	Veja no <a href='https://www.google.com/maps/d/viewer?mid=1sVo5MJ2blInuF7M2BcH_-cL4W8k&hl=en_US&ll=-3.744795%2C-38.486770000000014&z=17' target='_blank'>mapa</a>

	como chegar ao parque.
	</p>

	<script src ="jquery.min.js"></script>

</body>
</html>