<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Recipes</title>
    <link rel="stylesheet" href="playlist.css">
    <script src="playlist.js"></script>
    <script src="playlist_store.js"></script>
</head>
<body>
    <h1>Salão de Assembléias</h1>
    <h2>Saf</h2>

    <form>
        <input type="text" id="songTextInput" size="40" placeholder="song name">
        <input type="button" id="addButton" value="addSong">
    </form>
    <ul id="playlist">
        
    </ul>
    
</body>
</html>